<div class="row" ng-if="$ctrl.loading">
    <div class="medium-12 columns">
        <p>Laddar fordon...</p>
    </div>
</div>

<bk-no-connection ng-if="!$ctrl.loading && $ctrl.noConnection" retry-fn="$ctrl.loadVehicles" message="Ingen kontakt med servern just nu. :("></bk-no-connection>

<div class="row" ng-if="!$ctrl.loading && !$ctrl.noConnection">
    <div class="medium-12 columns">
        <h2>Välkommen</h2>
        <p>Tryck på knappen nedan för att komma igång med appen!</p>
        <a href="#!/lagg-till-fordon" class="button">Lägg till fordon</a>
    </div>
</div>
