<bk-menu></bk-menu>

<div class="row">
    <div class="medium-12 columns">
        <h2>Lägg till fordon</h2>
    </div>
</div>

<div class="row" ng-if="$ctrl.inProgress">
    <div class="medium-12 columns">
        <p>Skapar fordon...</p>
    </div>
</div>

<div class="row" ng-if="!$ctrl.inProgress && $ctrl.createOk">
    <div class="medium-12 columns">
        <p>Fordon skapat, vi tar dig strax vidare...</p>
    </div>
</div>

<div class="row" ng-if="!$ctrl.inProgress && $ctrl.createFailed">
    <div class="medium-12 columns">
        <p>Det gick inte att lägga till fordonet av någon anledning, försök igen... :(</p>
    </div>
</div>

<form ng-submit="$ctrl.submit()" ng-if="!$ctrl.inProgress">
    <div class="row">
        <div class="medium-12 columns">
            <label>
                Namn
                <input type="text" ng-model="$ctrl.vehicleName">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <label>
                Drivmedel
                <select ng-model="$ctrl.fuel">
                    <option value="petrol">Bensin</option>
                    <option value="diesel">Diesel</option>
                    <option value="e85">E85</option>
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <input type="submit" id="submit" class="button" value="Lägg till" />
        </div>
    </div>
</form>
